<div class="content-page">
    <div class="container mt-5 pt-5">
        <div class="iq-comingsoon pt-5">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm-8 text-center">
                        <div class="iq-comingsoon-info">
                            <a href="index.html">
                                <img src="/assets/Images/logo.png" class="img-fluid w-25" alt="">
                            </a>
                            <h2 class="mt-4 mb-1">Crimes Dashboard is launching very soon</h2>
                            <p>We are working very hard to give you the best experience possible!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>